body
{
    background-image: linear-gradient(to right top, #ffffff, #e4e0e7, #cec1cc, #baa2ae, #a7848d, #916f76, #7c5a5f, #674649, #4d3539, #342528, #1d1718, #000000);
}
#webcamm, #capturedd, #p_name, #p_accuracy
{
    color: white;
    font-size: medium;
    font-weight: bold;
}
#btn_captured, #btn_identify
{
    background-image: linear-gradient(to right bottom, #000000, #1f191e, #302d39, #3a4558, #3b6073, #3b6073, #3b6073, #3b6073, #3a4558, #302d39, #1f191e, #000000);
    color: white;
    width: 30%;
    height: 40px;
    font-size: 22px;
    padding: 5px;
}
b
{
    width: 100%;
}
#webcam_view, #captured_object
{
    border: solid;
    border-width: 3px;
    border-color: yellowgreen;
    border-radius: 20px;
    width: 350px;
    height: 299px;
}